html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiPaper-root .MuiList-root {
  background-color: #6a6a6a;
  color: white;
  padding: 0;
}

.MuiList-root li {
  padding: 0 15px;
}
